fastapi
uvicorn
python-multipart
minio
httpx
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-community
chromadb
sentence-transformers
pydantic
pydantic-settings
python-dotenv
